/* General */

body {
    font-size: 14px !important;
    font-family: sans-serif !important;
}

header {
    background: #eee;
    padding: 20px;
}

header a {
    text-decoration: none !important;
}

.logo a {
    color: #000;
}

main {
    padding: 25px 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.price {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 7px;
}

/* Form */

input,
select,
button {
    height: 30px;
    line-height: 1;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.btn {
    line-height: 1;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 14px;
}

button.btn-primary {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

button.btn.btn-primary:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

button.btn-secondary {
    background: #fff;
    color: #000;
}

button.btn:hover,
button.btn-secondary:hover {
    border-color: #000;
    background: #fff;
    color: #000;
}

form .form-control {
    font-size: 14px;
}

/* Searchbar */

.searchbar .button {
    margin-left: 5px;
}

/* Product List */

.product-list {
    display: flex;
}

.product-list .item {
    padding: 15px;
    width: 20%;
}

.product-list .item .inner-wrapper {
    border: 1px solid #eee;
    padding: 20px;
}

.product-list .item .inner-wrapper:hover {
    box-shadow: 0 0 5px #ccc;
}

.product-list .item .product-image {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
}

.product-list .item .product-image img {
    max-height: 200px;
    margin: 0 auto;
    display: block;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;;
}

.product-list .item .product-name {
    font-weight: 600;
    margin-bottom: 7px;
}

.product-price {
    margin-bottom: 7px;
}

.product-list .item .product-desc {
    font-size: 12px;
}

.product-list .item .product-actions {
    margin-top: 15px;
}

.product-list .item .product-actions button {
    width: 100%;
}

.product-list .item .product-actions button + button {
    margin-top: 7px;
}

.noresult {
    font-style: italic;
    margin: 10px 0;
    color: #777;
}

/* PDP */

.product-top {
    display: flex;
    margin-bottom: 30px;
}

.gallery {
    width: 45%;
}

.gallery img {
    width: 100%;
    max-width: 300px;
}

.shop {
    width: 65%;
    margin-left: auto;
}

/* PDP */

.page-product .price {
    font-size: 25px;
}

.page-product .actions button + button {
    margin-left: 10px;
}

/* Shopping Cart */

.table-items .price {
    font-size: 20px;
    font-weight: 300;
}

.table-items {
    border: 1px solid #eee;
}

.table-items th {
    background: #eee;
}

.table-items td {
    border-top: 1px solid #eee;
}

.table-items img {
    max-width: 100px;
}

th.image {
    width: 10%;
}

th.detail {
    width: 30%;
    text-align: left;
}

.table-items th,
.table-items td {
    padding: 15px;
}

td.price,
td.qty,
td.sub-total,
th.price,
th.qty,
th.sub-total {
    width: 10%;
    text-align: right;
}

th.price,
th.qty,
th.sub-total {
    text-align: center;
}

.table-items .price {
    font-size: 14px;
    font-weight: 400;
}

.items-actions {
    padding: 15px 0;
}

/* add product */
.btn.fab-add-product {
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 0 !important;
    border-radius: 30px;
    padding: 6px 12px;
    line-height: 1;
    height: auto;
    vertical-align: middle;
}

.fab-add-product:before {
    content: '+';
    font-size: 30px;
}

/* Notification */
.notification {
    box-shadow: none;
}